extend /layout

block content
  main.articles-category
    h1 #{currentCategory.name}

    section.articles-category__theme-list
      h2.visually-hidden Список тем
      +themes(categories, currentCategory)(class=`post__themes`)

    section.articles-category__list.preview
      h2.visually-hidden Список превью статей
      +preview-articles-list(articles)

      +pagination({base: `articles/category/${currentCategory.id}`, page, totalPages})
