mixin hot-articles-item(article = {})
  a.hot__list-link(href=`/articles/${article.id}`)
    | #{article.announce.length > 100 ? `${article.announce.substr(0, 100)}...` : article.announce}
    sup.hot__link-sup #{article.count}


mixin hot-articles-list(articles = [])
  if articles.length
    ul.hot__list
      each article in articles
        li.hot__list-item
          +hot-articles-item(article)
  else
    p.hot__empty Здесь пока ничего нет...
