extend /layout

append variables
  - bodyClasses = ['wrapper-color']
  - const searchAttempt = searchText.length
  - const hasResults = results.length
  - const isSuccessfulSearch = searchAttempt && hasResults
  - const isUnsuccessfulSearch = searchAttempt && !hasResults

block content
  section.search-page
    .search-page__wrapper(class={'search-page__wrapper--empty': isUnsuccessfulSearch})
      h1 Поиск
      .search.search-page__form
        form(action='/search' method='get')
          label
            input(type='text' name='query' placeholder='Что ищем?' value=`${searchText || ''}`)
          button.search__button.button.button--transparent(type='submit') Найти
        if isSuccessfulSearch
          each result in results
            .search__result
              +date(result.createdAt)(class="search__date")
              a.search__link(href=`/articles/${result.id}`) #{result.title}
      if isUnsuccessfulSearch
        p.search-page__empty Ничего не нашлось
